/* CSS Reset */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

/* CUSTOM CSS */

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
        animation-timing-function: ease-out;
    }

    50% {
        transform: translateY(-100px);
        animation-timing-function: ease-in;
    }
}

body {
    background-color: #c2c2c2;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.cube {
    height: 150px;
    width: 150px;
    background-color: rgb(255, 83, 21);
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden-text {
    opacity: 0;
    pointer-events: none;
}

.text {
    font-size: 50px;
    color: white;
    transition: opacity 1s;
}

.bounce-button {
    display: block;
    margin: 15px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.reset-button {
    display: none;
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
    margin-top: 10rem;
}